<% include partials/dashboard %>
        <div class="container">      
        <div class="panel-heading">
            <hr>
            <h3 class="panel-title">Thêm dữ liệu</h3>
            <h4>* Require</h4>
        </div>
        <form id="upload-widget" method="post" action="/upimage" class="dropzone"></form>
        <form method="post">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="name">Tên sản phẩm</label>
                    <input type="text" class="form-control" name="name">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="main">Main Category</label>
                    <select class="form-control" name="main">
                    <% category.forEach(function(cat){ %>
                        <option value="<%= cat.name %>"><%= cat.name %></option>
                    <% }) %>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="sub">Sub Category</label>
                    <select class="form-control" name="sub">
                    <% category.forEach(function(cat){ %>
                        <% for (var i = 0; i < category.length; i++) { %>
                            <option value="<%= cat.childName[i] %>"><%= cat.childName[i] %></option>
                        <% } %>
                    <% }) %>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="price">Giá</label>
                    <input type="number" class="form-control" name="price">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="stock">Số lượng</label>
                    <input type="number" class="form-control" name="stock">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="size">Size</label>
                    <select class="multiple form-control" name="size" multiple="multiple">
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="tags">Tags</label>
                    <select multiple class="multiple-tags form-control" name="tags" multiple="">
                    </select>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="description">Chi tiết</label>
                    <textarea  type="text" class="form-control" name="description" rows="1"></textarea>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="labels">Nhãn hiệu</label>
                    <input type="text" class="form-control" name="labels">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="materials">Chất liệu</label>
                    <input type="text" class="form-control" name="materials">
                </div>
            </div>
        </div>
        <button style="width: 100%;" type="submit" class="btn btn-secondary rounded-0">Submit</button>
    </form>  
    <!-- /#page-content-wrapper -->
    <% include partials/script %>
    <script type="text/javascript">
        $(document).ready(function() {
        $('.multiple').select2({
            allowClear: true,
        });
    });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
        $('.multiple-tags').select2({
            allowClear: true,
            tags: true,
            tokenSeparators: [',',' ']
        });
    });
    </script>
</body>
</html>