<%- include ('header') %>


    <!-- content contact -->
    <div class="content-contact text-center mt-5">        
        <div class="container">
            <div class="row">
                <div class="col-sm-12 big-title text-center">
                    <h3 class="mb-5 wow animate__lightSpeedInLeft" data-wow-duration="2s" style="font-family: var(--font-title); font-size: var(--size-title);">Contact Us</h3>
                </div>
            </div>
            <div style="transition-delay: 0.2s; visibility: hidden;" class="row wow animate__fadeInUpBig" data-wow-duration="2s" data-wow-delay="0.2s">
                <div class="col-sm-4 text-sm-center">
                    <p>VISIT US <br> <br>
                        100 Ho Chi Minh City <br>

                        District 2 <br>
                        
                        123-456-7890</p>
                </div>
                <div class="col-sm-4 text-sm-center">
                    <p>OPENING HOURS <br> <br>
                        Mon - Fri: 7am - 10pm <br>
                        
                        ​​Saturday: 8am - 10pm<br>
                        
                        ​Sunday: 8am - 11pm</p>
                </div>
                <div class="col-sm-4 text-sm-center">
                    <p>CUSTOMER SERVICE<br><br>
                        1-800-000-000<br>
                        
                        123-456-7890<br>
                        
                        info@my-domain.com</p>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.2324288146638!2d106.80161941474981!3d10.869918392258157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527587e9ad5bf%3A0xafa66f9c8be3c91!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBDw7RuZyBuZ2jhu4cgVGjDtG5nIHRpbiDEkEhRRyBUUC5IQ00!5e0!3m2!1svi!2s!4v1594544772988!5m2!1svi!2s" width="1080" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>        
        <div class="question">
            <div class="form-group">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h3 class="mb-5 mt-5">FOR ANY QUESTIONS, PLEASE SEND US A MESSAGE</h3>
                        </div>
                    </div>
                    <form action="" method="post">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <input type="text" class="form-control" name="name" id="" aria-describedby="helpId" placeholder="Name">
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="text" class="form-control" name="email" id="" aria-describedby="helpId" placeholder="Email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                            <input type="text" class="form-control" name="subject" id="" aria-describedby="helpId" placeholder="Subject">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <input style="height: 100px; padding-bottom: 70px;" type="text" class="form-control" name="message" id="" aria-describedby="helpId" placeholder="Message">
                            </div>   
                        </div>
                        <button type="submit" class="btn btn-outline-secondary nut ml-auto mr-auto mt-4">Submit</button>
                    </form>  
                </div>           
            </div>
        </div>
    </div>
    <!-- end contact -->
<%- include ('footer') %>